body{
    background-color: #222;
    color: #ee6;
}

h1 {
    text-align: center;
    color: #eee;
    text-transform: uppercase;
}

h1:hover{
    color: red;
}

p {
    font-family: sans-serif;
}

p::first-line{
    color: #efe;
}

h2, h3 {
    color: #eee;
    text-transform: uppercase;
}

strong {
    border-bottom: solid white;
}

.the-force {
    background-color: gray;
    font-weight: bold;
}

.light-side {
    color: #66f;
}

.dark-side{
    color: #f33;
}

#og-trilogy{
    list-style-type: circle;
}

.movies-list:nth-of-type(2){
    padding-left: 40px;
}

.movies-list:nth-of-type(3) li:last-child{
    margin-top: 20px;
}

a:visited {
    color: grey;
}

.movies-list li:nth-child(odd){
    background-color: #111;
}

.movies-list li:nth-child(even){
    background-color: #333;
}

